/*
font-family: 'Permanent Marker', cursive;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto', sans-serif;

*/

* {
   box-sizing: border-box;
}

body {
   font-family: 'Red Hat Display', sans-serif;
   font-size: 20px;
   line-height: 36px;
   color: #081158;
}

.container {
   max-width: 1368px;
   margin: 0 auto;
   padding: 0 10px;
}

.title {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.btn {
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
   text-align: center;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #fff;
   padding: 20px;
   border: none;
   border-radius: 6px;
   background: #081158;
   transition: all .2s linear;

   &:hover {
      background: #0e22bb;
   }
}

//============================================================================================================================
.header {
   padding: 7px 0;
   background: #fff;
   position: fixed;
   width: 100%;
   z-index: 10;

   &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .logo {
      font-size: 36px;
      line-height: 36px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
      margin-right: 20px;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         top: 5px;
         right: 0;
         width: 92px;
         height: 3px;
         background: #000;
      }
   }

   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 400px;
      width: 100%;
      

      &-item {
         font-size: 16px;
         line-height: 22px;
         text-decoration: none;
         color: inherit;
         position: relative;
         overflow: hidden;

         &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #081158;
            border-radius: 50px;
            transform: translateX(-100%);
            transition: all .2s linear;
         }

         &:hover {
            &::before {
               transform: translateX(0%);
            }
         }

         &.btn {
            padding: 12px 20px;
            text-transform: uppercase;
            background: #081158;
            color: #fff;
            border-radius: 6px;
            transition: all .2s linear;

            &::before {
               display: none;
            }

            &:hover {
               background: #0e22bb;
            }
         }
      }
   }

   &-wrapper {
      display: flex;
      align-items: center;
      display: none;
   }

   .burger__btn {
      position: relative;
      height: 18px;
      width: 40px;
      

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 4px;
         background: #000;
         border-radius: 50px;
         transition: all .2s linear;
      }
      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 4px;
         background: #000;
         border-radius: 50px;
         transition: all .2s linear;
      }

      &.active {
         &::before {
            top: 6.8px;
            transform: rotate(30deg);
         }

         &::after {
            transform: rotate(-30deg);
            bottom: 6.8px;
         }
      }
   }

   .call {
      font-size: 16px;
      line-height: 16px;
      padding: 10px;
      text-transform: uppercase;
      background: #081158;
      color: #fff;
      border-radius: 6px;
      margin-right: 10px;
      text-decoration: none;
   }
}

.mobile-menu {
   background: #fff;
   position: absolute;
   right: 0;
   top: 50px;
   padding: 0 20px 20px 20px;
   transform: translateY(-100%);
   z-index: 1;
   transition: all .3s linear;
   display: none;

   &.active {
      transform: translateY(0%);
   }

   &__item {
      display: block;
      font-size: 20px;
      line-height: 30px;
      text-align: right;
      text-decoration: none;
      color: #081158;
   }
}

//===========================================================================================================================
.main {
   background: #EEF0F4;
   padding: 100px 0;

   &__items {
      display: flex;
      justify-content: space-between;

   }

   &__item {
      width: 48.59%;

      &:last-child {
         display: flex;
         align-items: center;
      }

      &-title {
         font-family: 'Permanent Marker', cursive;
         font-size: 64px;
         line-height: 70px;
         color: #8EA5A0;
         text-align: center;
      }

      img {
         width: 100%;
      }

      span {
         display: block;
         font-weight: 400;
         font-size: 20px;
         line-height: 36px;
         margin-bottom: 32px;
      }

      .title {
         font-size: 72px;
         line-height: 79px;
         margin-bottom: 31px;
      }

      p {
         margin-bottom: 25px;
      }
   }
}

//============================================================================================================================
.band {
   background: #081158;

   &__items {
      display: flex;
      justify-content: space-between;
      padding: 90px;
      color: #DFDFDF;
      text-transform: uppercase;
   }
}





//@media=========================================================================================================================
@media(max-width: 1130px) {
   .main {
      padding: 70px 0;

      &__item {
         .title {
            font-size: 48px;
            line-height: 56px;
         }
      }
   }
}

@media(max-width: 900px) {
   .main {
      padding: 70px 0 50px 0;

      &__item {
         &-title {
            font-size: 40px;
            line-height: 46px;
         }

         span,
         .title,
         p {
            margin-bottom: 10px !important;
         }


      }
   }

   .band {
      &__items {
         padding: 40px;
      }
   }
}

@media(max-width: 768px) {
   body {
      font-size: 14px;
      line-height: 20px;
   }
   .btn {
      font-size: 10px;
      padding: 14px;
   }

   .main {
      &__item {
         &-title {
            font-size: 30px;
            line-height: 40px;
         }
         span {
            font-size: 14px;
            line-height: 16px;
         }

         .title {
            font-size: 30px;
            line-height: 36px;
         }
      }
   }
}


@media(max-width: 600px) {
   .header {      
      &__nav {
         display: none;
      }
      
      &-wrapper {
         display: flex;
      }
   }

   .mobile-menu {
      display: block;
   }

   .main {
      &__items {
         display: block;
      }
      &__item {
         width: 100%;

         span {
            padding-top: 20px;
            text-align: center;
         }

         .title {
            font-size: 24px;
            line-height: 30px;
         }

         .title,
         p {
            text-align: center;
            margin-bottom: 16px !important;
         }

         .btn {
            display: block;
            margin: 0 auto;
         }
      }
   }

   .band {
      &__items {
         padding: 20px 10px;
         font-size: 12px;
      }
   }
}

@media(max-width: 375px) {
   .band {
      &__items {
         font-size: 10px;
      }
   }
}