/*
font-family: 'Permanent Marker', cursive;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto', sans-serif;

*/

* {
   box-sizing: border-box;
}

body {
   font-family: 'Red Hat Display', sans-serif;
   font-size: 20px;
   line-height: 36px;
   color: #081158;
}

section {
   padding: 100px 0;
}

.container {
   max-width: 1368px;
   margin: 0 auto;
   padding: 0 10px;
}

.title {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.btn {
   display: block;
   width: 200px;
   text-decoration: none;
   font-size: 14px;
   line-height: 22px;
   font-weight: 400;
   text-align: center;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #fff;
   padding: 20px;
   border: none;
   border-radius: 6px;
   background: #081158;
   transition: all .2s linear;

   &:hover {
      background: #0e22bb;
   }
}

//============================================================================================================================
.header {
   padding: 7px 0;
   background: #fff;
   position: fixed;
   width: 100%;
   z-index: 10;

   &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .logo {
      font-size: 36px;
      line-height: 36px;
      font-weight: bold;
      color: #000;
      text-decoration: none;
      margin-right: 20px;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         top: 5px;
         right: 0;
         width: 92px;
         height: 3px;
         background: #000;
      }
   }

   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 400px;
      width: 100%;
      

      &-item {
         font-size: 16px;
         line-height: 22px;
         text-decoration: none;
         color: inherit;
         position: relative;
         overflow: hidden;

         &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #081158;
            border-radius: 50px;
            transform: translateX(-100%);
            transition: all .2s linear;
         }

         &:hover {
            &::before {
               transform: translateX(0%);
            }
         }

         &.btn {
            width: auto;
            padding: 12px 20px;
            text-transform: uppercase;
            background: #081158;
            color: #fff;
            border-radius: 6px;
            transition: all .2s linear;

            &::before {
               display: none;
            }

            &:hover {
               background: #0e22bb;
            }
         }
      }
   }

   &-wrapper {
      display: flex;
      align-items: center;
      display: none;
   }

   .burger__btn {
      position: relative;
      height: 18px;
      width: 40px;
      

      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 4px;
         background: #000;
         border-radius: 50px;
         transition: all .2s linear;
      }
      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 4px;
         background: #000;
         border-radius: 50px;
         transition: all .2s linear;
      }

      &.active {
         &::before {
            top: 6.8px;
            transform: rotate(30deg);
         }

         &::after {
            transform: rotate(-30deg);
            bottom: 6.8px;
         }
      }
   }

   .call {
      font-size: 16px;
      line-height: 16px;
      padding: 10px;
      text-transform: uppercase;
      background: #081158;
      color: #fff;
      border-radius: 6px;
      margin-right: 10px;
      text-decoration: none;
   }
}

.mobile-menu {
   background: #fff;
   position: fixed;
   right: 0;
   top: 50px;
   padding: 0 20px 20px 20px;
   transform: translateY(-100%);
   z-index: 1;
   transition: all .3s linear;
   display: none;

   &.active {
      transform: translateY(0%);
   }

   &__item {
      display: block;
      font-size: 20px;
      line-height: 30px;
      text-align: right;
      text-decoration: none;
      color: #081158;
   }
}

//===========================================================================================================================
.main {
   background: #EEF0F4;
   padding: 100px 0;

   &__items {
      display: flex;
      justify-content: space-between;

   }

   &__item {
      width: 48.59%;

      &:last-child {
         display: flex;
         align-items: center;
      }

      &-title {
         font-family: 'Permanent Marker', cursive;
         font-size: 64px;
         line-height: 70px;
         color: #8EA5A0;
         text-align: center;
      }

      img {
         width: 100%;
         max-height: 700px;
         object-fit: cover;
      }

      span {
         display: block;
         font-weight: 400;
         font-size: 20px;
         line-height: 36px;
         margin-bottom: 32px;
      }

      .title {
         font-size: 72px;
         line-height: 79px;
         margin-bottom: 31px;
      }

      p {
         margin-bottom: 25px;
      }
   }
}

//============================================================================================================================
.band {
   background: #081158;
   padding: 0;

   &__items {
      display: flex;
      justify-content: space-between;
      padding: 90px;
      color: #DFDFDF;
      text-transform: uppercase;
   }
}

//============================================================================================================================
.promo {
   padding: 0;
   position: relative;

   img {
      width: 100%;
   }

   .promo__text {
      width: 600px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Permanent Marker', cursive;
      font-size: 120px;
      line-height: 130px;
      text-align: center;
      color: #fff;
   }
}

//about====================================================================================================================
.about {
   padding-bottom: 0;

   .title {
      font-size: 62px;
      line-height: 70px;
      text-align: center;
      max-width: 700px;
      margin: 0 auto 26px;
   }

   .btn {
      margin: 0 auto 100px;
   }

   &__items {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
   }

   &__item {
      width: 50%;
      text-align: center;
      margin-bottom: 100px;

      img {
         display: block;
         margin: 0 auto 30px;
         width: 60%;
         max-height: 300px;
         object-fit: cover;
      }

      &-title {
         font-size: 30px;
         line-height: 33px;
         max-width: 300px;
         margin: 0 auto 30px;
      }

      p {
         max-width: 400px;
         margin: 0 auto;
      }
   }
}


//=============================================================================================================================
.plan {
   background: #EEF0F4;

   &.bg {
      background: url('../images/bg1.jpg') 0 0/cover no-repeat !important;

      .title,
      .after-title {
         color: #fff;
      }
   }

   .title {
      font-size: 80px;
      line-height: 90px;
      margin-bottom: 30px;
      max-width: 900px;
   }

   .after-title {
      max-width: 600px;
      margin-bottom: 25px;
   }

   .btn {
      margin-bottom: 100px;
   }

   &__items {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      width: 29.68%;
      background: #fff;

      img {
         width: 100%;
         max-height: 400px;
         object-fit: cover;
      }

      &-price {
         padding: 30px 30px 7px;
         font-size: 14px;
         line-height: 22px;
         display: flex;
         justify-content: space-between;

         .price {
            font-family: 'Permanent Marker', cursive;
            color: #EC8675;
         }
      }

      &-title {
         display: flex;
         align-items: center;
         height: 60px;
         font-size: 24px;
         line-height: 28px;
         padding: 7px 30px;
      }

      a {
         display: inline-block;
         font-size: 14px;
         line-height: 22px;
         color: #081158;
         text-decoration: none;
         margin: 7px 30px 30px;
         padding: 5px 10px;
         border: 1px solid #081158;
         border-radius: 50px;
         transition: all .2s linear;

         &:hover {
            color: #fff;
            background: #081158;
         }
      }
   }
}

//==========================================================================================================================
.plan-order {
   &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__item {
      width: 50%;

      &:last-child {
         width: 48%;
         background: url('../images/bg2.jpg') 0 0/cover no-repeat !important;
      }

      .title {
         font-size: 60px;
         line-height: 70px;
         margin-bottom: 30px;
         max-width: 600px;
      }

      .after-title {
         margin-bottom: 25px;
      }

      img {
         width: 100%;
      }
   }
}





//@media=========================================================================================================================
@media(max-width: 1130px) {
   .main {
      padding: 70px 0;

      &__item {
         .title {
            font-size: 48px;
            line-height: 56px;
         }
      }
   }

   .plan-order {
      &__item {
         .title {
            font-size: 46px;
            line-height: 50px;
            margin-bottom: 10px;
         }
      }
   }
}

@media(max-width: 900px) {
   .main {
      padding: 70px 0 50px 0;

      &__item {
         &-title {
            font-size: 40px;
            line-height: 46px;
         }

         span,
         .title,
         p {
            margin-bottom: 10px !important;
         }
      }
   }

   .promo {
      &__text {
         width: 400px !important;
         font-size: 70px !important;
         line-height: 76px !important;
      }
   }

   .band {
      &__items {
         padding: 40px;
      }
   }

   .about {
      .title {
         font-size: 48px;
         line-height: 56px;
      }

      &__items {
         display: block;
      }

      &__item {
         width: 90%;
         margin: 0 auto 50px;

         &-title {
            margin-bottom: 10px;
         }

         img {
            height: auto;
            max-height: 100%;
            margin-bottom: 10px;
         }
      }
   }

   .plan {

      .title {
         font-size: 48px;
         line-height: 56px;
         max-width: 600px;
      }

      .after-title {
         max-width: 400px;
      }

      &__item {
         &-price {
            padding: 10px 10px 5px;
         }

         &-title {
            padding: 5px 10px 5px;
         }

         a {
            margin: 5px 10px 5px;
         }
      }
   }

   .plan-order {
      &__item {
         .title {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 10px;
         }
      }
   }
}

@media(max-width: 768px) {
   body {
      font-size: 14px;
      line-height: 20px;
   }
   .btn {
      padding: 14px;
   }

   .main {
      &__item {
         &-title {
            font-size: 30px;
            line-height: 40px;
         }
         span {
            font-size: 14px;
            line-height: 16px;
         }

         .title {
            font-size: 30px;
            line-height: 36px;
         }
      }
   }

   .plan {
      &__item {
         &-price {
            padding: 10px 10px 5px;
         }

         &-title {
            font-size: 14px;
            line-height: 16px;
            padding: 5px 10px 5px;
            height: 40px;
         }

         a {
            font-size: 10px;
            line-height: 12px;
            padding: 5px 10px;
            margin: 5px 10px 10px;
         }
      }
   }
}


@media(max-width: 600px) {
   section {
      padding: 50px 0;
   }

   .header {      
      &__nav {
         display: none;
      }
      
      &-wrapper {
         display: flex;

         .call {
            font-size: 12px;
         }
      }
   }

   .mobile-menu {
      display: block;
   }

   .main {
      &__items {
         display: block;
      }
      &__item {
         width: 100%;

         span {
            padding-top: 20px;
            text-align: center;
         }

         .title {
            font-size: 34px;
            line-height: 42px;
         }

         .title,
         p {
            text-align: center;
            margin-bottom: 16px !important;
         }

         .btn {
            margin: 0 auto;
         }
      }
   }

   .band {

      &__items {
         padding: 20px 10px;
         font-size: 12px;
      }
   }

   .promo {
      &__text {
         font-size: 50px !important;
         width: 300px !important;
         line-height: 56px !important;
      }
   }

   .about {
      .title {
         font-size: 34px;
         line-height: 42px;
      }

      .btn {
         margin: 0 auto 50px;
      }
   }

   .plan {
      .title {
         font-size: 34px;
         line-height: 42px;
         text-align: center;
      }

      .after-title {
         text-align: center;
         max-width: 100%;
      }

      .btn {
         margin: 0 auto 50px;
      }

      &__items {
         display: block;
      }

      &__item {
         width: 54%;
         margin: 0 auto 30px;
         
         &-price {
            padding: 16px 10px 8px !important;
         }

         &-title {
            font-size: 26px;
            line-height: 30px;
            height: 70px;
            padding: 8px 10px 8px !important;
         }

         a {
            font-size: 16px;
            line-height: 20px;
            margin: 8px 10px 16px !important;
         }
      }
   }

   .plan-order {
      &__items {
         display: block;
      }

      &__item {
         width: 100%;

         &:last-child {
            width: 70%;
            margin: 0 auto;
         }

         .title {
            font-size: 29px;
            line-height: 36px;
            text-align: center;
            margin-bottom: 10px;
         }

         .after-title {
            text-align: center;
         }

         .btn {
            margin: 0 auto 30px;
         }
      }
   }
}

@media(max-width: 425px) {
   .main {
      .title {
         font-size: 26px;
         line-height: 30px;
      }
   }

   .promo {
      &__text {
         width: 200px !important;
         font-size: 40px !important;
         line-height: 46px !important;
      }
   }

   .about {
      .title {
         font-size: 26px;
         line-height: 30px;
      }

      &__item {
         &-title {
            font-size: 20px;
            line-height: 26px;
         }
      }
   }

   .plan {
      .title {
         font-size: 26px;
         line-height: 30px;
         margin-bottom: 10px;
      }

      .after-title {
         margin-bottom: 10px;
      }

      &__item {
         width: 70%;
         margin: 0 auto 20px;
         
         &-price {
            padding: 10px 0 5px;
         }

         &-title {
            font-size: 20px;
            line-height: 26px;
            height: 60px;
            padding: 5px 0 5px;
         }

         a {
            font-size: 16px;
            line-height: 20px;
            margin: 5px 0 10px;
         }
      }
   }
}

@media(max-width: 375px) {
   .band {
      &__items {
         font-size: 10px;
      }
   }

   .plan-order {
      &__item {
         .title {
            font-size: 24px;
            line-height: 30px;
         }
      }
   }
}