/*
font-family: 'Permanent Marker', cursive;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto', sans-serif;

*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #081158;
}

section {
  padding: 100px 0;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.btn {
  display: block;
  width: 210px;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 6px;
  background: #081158;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.btn:hover {
  background: #0e22bb;
}

.header {
  padding: 7px 0;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
}

.header .logo::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  width: 92px;
  height: 3px;
  background: #000;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  width: 100%;
}

.header__nav-item {
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: inherit;
  position: relative;
  overflow: hidden;
}

.header__nav-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #081158;
  border-radius: 50px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header__nav-item:hover::before {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.header__nav-item.btn {
  width: auto;
  padding: 12px 20px;
  text-transform: uppercase;
  background: #081158;
  color: #fff;
  border-radius: 6px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header__nav-item.btn::before {
  display: none;
}

.header__nav-item.btn:hover {
  background: #0e22bb;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.header .burger__btn {
  position: relative;
  height: 18px;
  width: 40px;
}

.header .burger__btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #000;
  border-radius: 50px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header .burger__btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #000;
  border-radius: 50px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header .burger__btn.active::before {
  top: 6.8px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.header .burger__btn.active::after {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  bottom: 6.8px;
}

.header .call {
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  text-transform: uppercase;
  background: #081158;
  color: #fff;
  border-radius: 6px;
  margin-right: 10px;
  text-decoration: none;
}

.mobile-menu {
  /*
   background: #fff;
   position: fixed;
   right: 0;
   top: 50px;
   padding: 0 20px 20px 20px;
   transform: translateY(-100%);
   z-index: 1;
   transition: all .3s linear;
   display: none;
   */
  background: transparent;
  position: fixed;
  right: 0;
  top: 50px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 1;
  display: none;
}

.mobile-menu.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.mobile-menu__item {
  /*display: block;
      font-size: 20px;
      line-height: 30px;
      text-align: right;
      text-decoration: none;
      color: #081158;*/
  display: block;
  margin: 20px 0;
  font-size: 26px;
  line-height: 26px;
  color: #081158;
  background: #fff;
  padding: 10px;
  text-decoration: none;
}

.main {
  background: #EEF0F4;
  padding: 100px 0;
}

.main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__item {
  width: 48.59%;
}

.main__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__item-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 64px;
  line-height: 70px;
  color: #8EA5A0;
  text-align: center;
}

.main__item img {
  width: 100%;
  max-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__item span {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 32px;
}

.main__item .title {
  font-size: 72px;
  line-height: 79px;
  margin-bottom: 31px;
}

.main__item p {
  margin-bottom: 25px;
}

.band {
  background: #081158;
  padding: 0;
}

.band__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 90px;
  color: #DFDFDF;
  text-transform: uppercase;
}

.promo {
  padding: 0;
  position: relative;
}

.promo img {
  width: 100%;
}

.promo .promo__text {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
  font-size: 120px;
  line-height: 130px;
  text-align: center;
  color: #fff;
}

.about {
  padding-bottom: 0;
}

.about .title {
  font-size: 62px;
  line-height: 70px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 26px;
}

.about .btn {
  margin: 0 auto 100px;
}

.about__items {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__item {
  width: 50%;
  text-align: center;
  margin-bottom: 100px;
}

.about__item img {
  display: block;
  margin: 0 auto 30px;
  width: 60%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__item-title {
  font-size: 30px;
  line-height: 33px;
  max-width: 300px;
  margin: 0 auto 30px;
}

.about__item p {
  max-width: 400px;
  margin: 0 auto;
}

.plan {
  background: #EEF0F4;
}

.plan.bg {
  background: url("../images/bg1.jpg") 0 0/cover no-repeat !important;
}

.plan.bg .title,
.plan.bg .after-title {
  color: #fff;
}

.plan .title {
  font-size: 80px;
  line-height: 90px;
  margin-bottom: 30px;
  max-width: 900px;
}

.plan .after-title {
  max-width: 600px;
  margin-bottom: 25px;
}

.plan .btn {
  margin-bottom: 100px;
}

.plan__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan__item {
  width: 29.68%;
  background: #fff;
}

.plan__item img {
  width: 100%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.plan__item-price {
  padding: 30px 30px 7px;
  font-size: 14px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan__item-price .price {
  font-family: 'Permanent Marker', cursive;
  color: #EC8675;
}

.plan__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  font-size: 24px;
  line-height: 28px;
  padding: 7px 30px;
}

.plan__item a {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  color: #081158;
  text-decoration: none;
  margin: 7px 30px 30px;
  padding: 5px 10px;
  border: 1px solid #081158;
  border-radius: 50px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.plan__item a:hover {
  color: #fff;
  background: #081158;
}

.plan-order__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan-order__item {
  width: 50%;
}

.plan-order__item:last-child {
  width: 48%;
  background: url("../images/bg2.jpg") 0 0/cover no-repeat !important;
}

.plan-order__item .title {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 30px;
  max-width: 600px;
}

.plan-order__item .after-title {
  margin-bottom: 25px;
}

.plan-order__item img {
  width: 100%;
}

.social {
  background: #DFDFDF;
}

.social__items {
  position: relative;
}

.social__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: textAnim 50s linear infinite;
          animation: textAnim 50s linear infinite;
}

.social__item-wrapper.reverse {
  -webkit-animation: textAnim1 50s linear infinite;
          animation: textAnim1 50s linear infinite;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.social__item:first-child {
  margin-bottom: 100px;
}

.social__item img {
  display: block;
  width: 400px !important;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  background: red;
  margin: 0 50px;
}

.social-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 100px;
  background: #EC8675;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-wrapper a {
  text-decoration: none;
  color: #fff;
}

.social-wrapper a img {
  width: 50px;
  height: 50px;
}

@-webkit-keyframes textAnim {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes textAnim {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes textAnim1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes textAnim1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.footer {
  background: #081158;
  padding: 10px 0;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .logo {
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer .logo::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 0;
  width: 92px;
  height: 3px;
  background: #fff;
}

.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .contacts a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.footer .contacts .btn {
  border-left: 2px solid #fff;
  border-radius: 0;
  padding: 10px;
  width: auto;
}

.footer .licencing {
  width: 100% !important;
  text-align: center;
  color: #fff;
  margin-top: 5px;
}

@media (max-width: 1130px) {
  .main {
    padding: 70px 0;
  }
  .main__item .title {
    font-size: 48px;
    line-height: 56px;
  }
  .plan-order__item .title {
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 10px;
  }
  .social__item:first-child {
    margin-bottom: 0px;
  }
  .social__item img {
    width: 300px !important;
    height: 300px;
    margin: 0 20px;
  }
  .social .social-wrapper {
    padding: 20px;
  }
}

@media (max-width: 900px) {
  .main {
    padding: 70px 0 50px 0;
  }
  .main__item-title {
    font-size: 40px;
    line-height: 46px;
  }
  .main__item span,
  .main__item .title,
  .main__item p {
    margin-bottom: 10px !important;
  }
  .promo__text {
    width: 400px !important;
    font-size: 70px !important;
    line-height: 76px !important;
  }
  .band__items {
    padding: 40px;
  }
  .about .title {
    font-size: 48px;
    line-height: 56px;
  }
  .about__items {
    display: block;
  }
  .about__item {
    width: 90%;
    margin: 0 auto 50px;
  }
  .about__item-title {
    margin-bottom: 10px;
  }
  .about__item img {
    height: auto;
    max-height: 100%;
    margin-bottom: 10px;
  }
  .plan .title {
    font-size: 48px;
    line-height: 56px;
    max-width: 600px;
  }
  .plan .after-title {
    max-width: 400px;
  }
  .plan__item-price {
    padding: 10px 10px 5px;
  }
  .plan__item-title {
    padding: 5px 10px 5px;
  }
  .plan__item a {
    margin: 5px 10px 5px;
  }
  .plan-order__item .title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  .btn {
    padding: 14px;
  }
  .main__item-title {
    font-size: 30px;
    line-height: 40px;
  }
  .main__item span {
    font-size: 14px;
    line-height: 16px;
  }
  .main__item .title {
    font-size: 30px;
    line-height: 36px;
  }
  .plan__item-price {
    padding: 10px 10px 5px;
  }
  .plan__item-title {
    font-size: 14px;
    line-height: 16px;
    padding: 5px 10px 5px;
    height: 40px;
  }
  .plan__item a {
    font-size: 10px;
    line-height: 12px;
    padding: 5px 10px;
    margin: 5px 10px 10px;
  }
  .social__item:first-child {
    margin-bottom: 0px;
  }
  .social__item img {
    width: 150px !important;
    height: 150px !important;
    margin: 0 20px;
  }
  .social .social-wrapper {
    padding: 10px;
  }
  .social .social-wrapper img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 50px 0;
  }
  .header__nav {
    display: none;
  }
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-wrapper .call {
    font-size: 12px;
  }
  .mobile-menu {
    display: block;
  }
  .main__items {
    display: block;
  }
  .main__item {
    width: 100%;
  }
  .main__item span {
    padding-top: 20px;
    text-align: center;
  }
  .main__item .title {
    font-size: 34px;
    line-height: 42px;
  }
  .main__item .title,
  .main__item p {
    text-align: center;
    margin-bottom: 16px !important;
  }
  .main__item .btn {
    margin: 0 auto;
  }
  .band__items {
    padding: 20px 10px;
    font-size: 12px;
  }
  .promo__text {
    font-size: 50px !important;
    width: 300px !important;
    line-height: 56px !important;
  }
  .about .title {
    font-size: 34px;
    line-height: 42px;
  }
  .about .btn {
    margin: 0 auto 50px;
  }
  .plan .title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
  }
  .plan .after-title {
    text-align: center;
    max-width: 100%;
  }
  .plan .btn {
    margin: 0 auto 50px;
  }
  .plan__items {
    display: block;
  }
  .plan__item {
    width: 54%;
    margin: 0 auto 30px;
  }
  .plan__item-price {
    padding: 16px 10px 8px !important;
  }
  .plan__item-title {
    font-size: 26px;
    line-height: 30px;
    height: 70px;
    padding: 8px 10px 8px !important;
  }
  .plan__item a {
    font-size: 16px;
    line-height: 20px;
    margin: 8px 10px 16px !important;
  }
  .plan-order__items {
    display: block;
  }
  .plan-order__item {
    width: 100%;
  }
  .plan-order__item:last-child {
    width: 70%;
    margin: 0 auto;
  }
  .plan-order__item .title {
    font-size: 29px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 10px;
  }
  .plan-order__item .after-title {
    text-align: center;
  }
  .plan-order__item .btn {
    margin: 0 auto 30px;
  }
}

@media (max-width: 500px) {
  .social .social-wrapper {
    padding: 10px 40px;
  }
  .social .social-wrapper span {
    display: none;
  }
}

@media (max-width: 425px) {
  .main .title {
    font-size: 26px;
    line-height: 30px;
  }
  .promo__text {
    width: 200px !important;
    font-size: 40px !important;
    line-height: 46px !important;
  }
  .about .title {
    font-size: 26px;
    line-height: 30px;
  }
  .about__item-title {
    font-size: 20px;
    line-height: 26px;
  }
  .plan .title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .plan .after-title {
    margin-bottom: 10px;
  }
  .plan__item {
    width: 70%;
    margin: 0 auto 20px;
  }
  .plan__item-price {
    padding: 10px 0 5px;
  }
  .plan__item-title {
    font-size: 20px;
    line-height: 26px;
    height: 60px;
    padding: 5px 0 5px;
  }
  .plan__item a {
    font-size: 16px;
    line-height: 20px;
    margin: 5px 0 10px;
  }
}

@media (max-width: 375px) {
  .band__items {
    font-size: 10px;
  }
  .plan-order__item .title {
    font-size: 24px;
    line-height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */